<html>
<head>

</head>
<body>
  <h1>Survey</h1>
 
  <div style="float:right">
    <table width="200" border="1">
    {% for p in counts %}
      <tr>
        <td>{{p.0}}</td>
        <td>{{p.1}}</td>
	
      </tr> 
    {% endfor %}
    </table>
  </div>


  <form method="get" action="{{ url_for('counter') }}">
    <label for="name">Name:</label>
    <input type="text" name="name" value="{{name}}"><br/>

    
    Are You:<br>
    <input type="radio" name="sex" value="Male">Male<br>
    <input type="radio" name="sex" value="Female">Female<br>

    I like:<br>
    <input type="radio" name="meme" value="Dank Memes">Dank Memes<br>
    <input type="radio" name="meme" value="Cats">Cats<br>
    <input type="radio" name="meme" value="Dogs">Dogs<br>

    What is your favorite?<br>
	<input type="radio" name="lang" value="PHP">PHP</option>
	<input type="radio" name="lang" value="Java">Java</option>
	<input type="radio" name="lang" value="Python">Python</option>
	<input type="radio" name="lang" value="C#">C#</option>
        <input type="radio" name="lang" value="C++">C++</option>


<input type="submit">
  </form>
  <form>
	Send Email:<br>
	<input type="radio" name="email" value="yes">Yes
	<input type="radio" name="email" value="no">No
   <input type ="submit">
  </form>

</body>
</html>
